<div class="container">
  <h2>ユーザー</h2>
    <% @users.each do |user| %>
        <% unless current_user == user then %>
            <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
                <%= render 'data', user: user %>
                <%= render 'follow_form', user: user %>
                <%= link_to "ユーザー詳細", user_path(user.id) %>
            </div>
        <% end %>
    <% end %>


</div>
