<div class="container">

    <div class="row ">
        <%= @user.name%>のフォロワー
            <% @user.followers.each do |user| %>
                <%= render 'date', user: user %>
                <br>
            <% end %>
    </div>

    <div class="row ">
        <%= @user.name%>のフォーロー
            <% @user.followed_users.each do |user| %>
                <%= render 'date', user: user %>
                <br>
            <% end %>
    </div>
</div>
